<div class="community-view">
  <!-- 기간 선택 -->
  <div class="pickerCal">
    <input type="text" class="btnCal firstDay" readonly ng-click="open1()"
    ng-class="{'active':popup1.opened}"
    uib-datepicker-popup="{{ format }}"
    ng-model="firstDay"
    is-open="popup1.opened"
    datepicker-options="dateOptions"
    show-button-bar="false"/>
    <span class="arrowCal">
      <img src="../img/ic-fromto.png">
    </span>
    <input type="text" class="btnCal lastDay" readonly ng-click="open2()"
    ng-class="{'active':popup2.opened}"
    uib-datepicker-popup="{{ format }}"
    ng-model="lastDay"
    is-open="popup2.opened"
    datepicker-options="dateOptions"
    show-button-bar="false"/>
  </div>
  <!-- /기간 선택 -->
  <!-- 커뮤니티공지 -->
  <div class="miniNotice ng-hide" ng-hide="showNotice">
    <span><img src="../../img/ic_community.png">디시인사이드 게시물을 모니터링 합니다.<br>(게시물과 댓글을 모두 포함한 수치입니다.)</span>
    <button class="noticeClose" ng-click="showNotice = !showNotice">
    <img src="../../img/ic_close.png" alt="Close">
    </button>
  </div>
  <!-- /커뮤니티공지 -->
  <!-- 커뮤니티 컨테이너 -->
  <div class="communityContainer">
    <!-- 커뮤니티 카드 -->
    <div class="volumeCard row">
      <div class="col">
        <h3>디시인사이드</h3>
      </div>
      <div class="col">
        <p class="type">회원수</p>
        <div class="number">
          <span class="amount">356</span>
          <span class="diff">
            <!-- 상승은 .up, 하락은 .down 클래스 삽입 -->
            <strong class="up">30(+3.3%)</strong>
            <em>전체 429,600</em>
          </span>
        </div>
      </div>
    </div>
    <!-- /커뮤니티 카드 -->
  </div>
  <!-- /커뮤니티 컨테이너 -->
  <!-- 커뮤니티 슬라이더 -->
  <ion-slide-box>
    <ion-slide>
      <!-- 건수 차트 -->
      <h4 class="title"><span>게시물 건수 추이</span></h4>
      <div class="postChart">
        <canvas class="" song_title="가을 아침" community-graph></canvas>
      </div>
      <!-- /건수 차트 -->
    </ion-slide>
    <ion-slide>
      <!-- 감성 차트 -->
      <h4 class="title"><span>게시물 감성 분석</span></h4>
      <div class="emotionChart">
        <canvas class="" community-doughnut-graph></canvas>
      </div>
      <div class="doughnutLegend">
        <ul class="row negative">
          <li class="col">부정</li>
          <li class="col">2,000 <strong>30%</strong></li>
        </ul>
        <ul class="row positive">
          <li class="col">긍정</li>
          <li class="col">2,000 <strong class="active">50%</strong></li>
        </ul>
        <ul class="row neutral">
          <li class="col">중립</li>
          <li class="col">2,000 <strong>20%</strong></li>
        </ul>
      </div>
      <!-- /감성 차트 -->
    </ion-slide>
    <ion-slide>
      <!-- 키워드 차트 -->
      <h4 class="title"><span>주요 키워드</span></h4>
      <h5>원을 선택하면 상세 분석 내용을 확인할 수 있습니다.</h5>
      <div class="keywordChart">
        <div class="inner">
          <div id="communityCyto" community-cyto-graph></div>
          <div class="keywordRanger">
            <input class="range" type="range" min="1" max="30" value="5" step="1">
          </div>
        </div>
        <ul class="keywordLegend row">
          <li class="negative col">긍정</li>
          <li class="positive col">중립</li>
          <li class="neutral col">부정</li>
        </ul>
      </div>
      <!-- /키워드 차트 -->
    </ion-slide>
  </ion-slide-box>
  <!-- /커뮤니티 슬라이더 -->
</div>