@charset "UTF-8";

// media
.media {
  background-color: red;
  @media #{$media-sm} {
    background-color: yellow;
  }
  @media #{$media-md} {
    background-color: blue;
  }
  @media #{$media-lg} {
    background-color: green;
  }
  @media #{$media-xl} {
    background-color: pink;
  }
}

// base-wp

// nav
.nav__menu {
  display: flex;
  flex-wrap: wrap;
  .menu-item {
    width: 135px;
    margin-bottom: 5px;
    &.current-menu-parent,
    &.current-menu-ancestor,
    &.current-menu-item {
      > a {
        color: orange;
      }
    }
  }
  > .menu-item {
    > a {
      color: black;
      font-size: 16px;
      font-weight: 700;
    }
    > .sub-menu {
      margin-top: 16px;
      > .menu-item {
        > a {
          color: gray;
          font-size: 14px;
          &[aria-current="page"] {
            color: orange;
          }
        }
      }
    }
  }
}

// table thumbnail image
.table {
  figure {
    img {
      width: 150px;
      height: auto;
    }
  }
}

// validation error message
label.error {
  color: red;
}

// pagination
.page-numbers {
  display: inline-block;
  padding: 10px;
}
