@charset "UTF-8";

// sub
.sub {
  // top
  &__top {
    padding: 32px 0;
    margin-bottom: 48px;
    text-align: center;
    border-bottom: 1px solid $co-gray-2;
  }

  // title
  &__title {
    @extend .h1;
    margin-bottom: 0;
    color: $co-gray-7;
  }

  // tabs
  &__tabs {
    position: relative;
    &.tabs-about,
    &.tabs-people {
      margin-bottom: 80px;
      @media #{$media-sm} {
        margin-bottom: 56px;
      }
    }
    &.tabs-board,
    &.tabs-faq {
      margin-bottom: 32px;
    }
  }

  // search
  &__search {
    max-width: 568px;
    margin: 0 auto;
    padding: 26px 0 13px;
  }

  // section
  .section {
    position: relative;
    @include clearfix;
  }
}

// about
.about {
  & + & {
    margin-top: 120px;
  }
  &__title {
    @extend .h2;
    color: $co-gray-7;
    text-align: center;
    margin: 80px 0 32px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .list-table {
    .right {
      .h5_left {
        margin-top: 16px;
      }
      .desc {
        margin-top: 16px;
      }
      .space {
        li {
          margin-top: 16px;
          &:nth-of-type(1),
          &:nth-of-type(2) {
            margin-top: 0;
            @media #{$media-sm} {
              &:nth-of-type(2) {
                margin-top: 16px;
              }
            }
          }
        }
      }
      .system {
        li {
          margin-top: 16px;
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            margin-top: 0;
            @media #{$media-sm} {
              &:nth-of-type(2),
              &:nth-of-type(3) {
                margin-top: 16px;
              }
            }
          }
        }
        .chip {
          display: block;
          width: 40px;
          height: 40px;
        }
      }
      .rule {
        & + .rule {
          margin-top: 16px;
        }
      }
      .download {
        @include clearfix;
        .h5_left,
        .btn {
          float: left;
          text-transform: uppercase;
        }
        .h5_left {
          line-height: 40px;
          margin-top: 0;
          margin-right: 32px;
          @media #{$media-sm} {
            float: none;
            display: block;
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
        .btn {
          margin-right: 16px;
          @media #{$media-sm} {
            float: none;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

// history
.history {
  .year {
    float: left;
    width: 200px;
    padding-bottom: 16px;
    @media #{$media-sm} {
      float: none;
      width: 100%;
      text-align: center;
    }
  }
  .cont {
    float: left;
    width: calc(100% - 200px);
    @media #{$media-sm} {
      float: none;
      width: 100%;
    }
    dl {
      @include clearfix;
    }
    dt,
    dd {
      float: left;
    }
    dt {
      width: 224px;
      padding-left: 24px;
      @media #{$media-sm} {
        width: 100px;
        padding-left: 0;
      }
    }
    dd {
      width: calc(100% - 224px);
      padding-right: 24px;
      @media #{$media-sm} {
        width: calc(100% - 100px);
        padding-right: 0;
      }
    }
  }
  &__head {
    @include clearfix;
    .year {
      @extend .h6;
      color: $co-gray-7;
      @media #{$media-sm} {
        display: none;
      }
    }
    .cont {
      @media #{$media-sm} {
        display: none;
      }
      dl {
        border-bottom: 4px solid $co-gray-7;
      }
      dt,
      dd {
        @extend .h6;
        color: $co-gray-7;
        padding-bottom: 16px;
      }
    }
  }
  &__list {
    @include clearfix;
    & + .history__list {
      @media #{$media-sm} {
        padding-top: 16px;
      }
    }
    .year {
      @extend .h3;
      color: $co-tone-4;
      padding-top: 10px;
      @media #{$media-sm} {
        font-size: 32px;
      }
    }
    .cont {
      dl {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid $co-gray-1;
      }
      dt,
      dd {
        @extend .paragraph1;
        margin-top: 12px;
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

// people
.people {
  &__list {
    margin: 0 (-$gutter);
  }
  &__item {
    position: relative;
    padding: 0 $gutter;
    margin-top: 48px;
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      margin-top: 0;
      @media #{$media-sm} {
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          margin-top: 48px;
        }
      }
    }
    span {
      display: block;
    }
  }
  &__body {
    position: relative;
    padding: 0 8px 15px;
    .pos {
      @extend .error-16;
      color: $co-tone-4;
    }
    h5 {
      @extend .h5_left;
      margin-top: 8px;
      color: $co-gray-7;
    }
    .work {
      @extend .paragraph2;
      color: $co-gray-5;
    }
    .thumb {
      position: absolute;
      top: 0;
      right: 8px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      img {
        @include object-fit;
      }
    }
  }
  &__foot {
    padding: 16px 8px 0;
    border-top: 1px solid $co-gray-1;
    .tel,
    .email {
      @extend .paragraph2;
      color: $co-gray-5;
    }
  }
}

// location
.location {
  &__map {
    height: 640px;
    margin-bottom: 56px;
    @media #{$media-sm} {
      height: 320px;
    }
  }
  .list-table {
    .table-item {
      &:first-child {
        .left {
          padding-top: 24px;
        }
      }
    }
    .right {
      padding-left: 24px;
      @media #{$media-sm} {
        padding-left: 0;
      }
      dl {
        @include clearfix;
      }
      dt,
      dd {
        float: left;
      }
      dt {
        width: 200px;
        line-height: 32px;
        @media #{$media-sm} {
          width: 100px;
        }
      }
      dd {
        width: calc(100% - 200px);
        padding-right: 24px;
        @media #{$media-sm} {
          width: calc(100% - 100px);
          padding-right: 0;
        }
      }
    }
  }
}

// business
.business {
  & + & {
    margin-top: 120px;
  }
  &.busivis {
    height: 504px;
    @media (min-width: 1920px) {
      height: 640px;
    }
    @media #{$media-sm} {
      height: calc(100vh - 62px);
    }
    .slider {
      @media #{$media-xl} {
        width: calc(100% + 32px);
      }
      &-inner {
        @media #{$media-xl} {
          width: 100%;
        }
      }
      &-desc {
        @media (max-width: 1440px) {
          left: 115px;
        }
        @media #{$media-sm} {
          left: 0;
          padding: 0 $gutter;
        }
        .d1 {
          color: $co-gray-7;
        }
        .h3 {
          color: $co-gray-7;
          margin-top: 24px;
        }
        .h5_left {
          color: $co-gray-7;
          margin-top: 9px;
        }
      }
    }
  }
  &__head {
    text-align: center;
    .stit {
      @extend .paragraph2;
      color: $co-tone-4;
    }
    .h2 {
      color: $co-gray-7;
    }
    .desc {
      @extend .checkbox-16;
      display: inline-block;
      max-width: 660px;
      margin: 32px 0 0;
      word-break: keep-all;
    }
  }
  &__body {
    position: relative;
    margin-top: 80px;
  }
}

// favorite
.favorite {
  &__head {
    text-align: center;
    .stit {
      @extend .paragraph2;
      color: $co-tone-4;
    }
    .h3 {
      color: $co-gray-7;
    }
    .desc {
      @extend .info_txt1;
      max-width: 568px;
      display: inline-block;
      margin: 16px 0 0;
      word-break: keep-all;
    }
  }
  &__list {
    margin: 24px (-$gutter) 0;
  }
  &__item {
    position: relative;
    margin-top: 40px;
    padding: 0 $gutter;
    z-index: 2;
    span {
      display: block;
    }
  }
  &__link {
    position: relative;
    display: block;
    width: 100%;
    .thumb {
      border: 1px solid #d8d8d8;
      width: 100%;
      height: 96px;
      padding: 20px 24px;
      overflow: hidden;
      @media #{$media-sm} {
        padding: 10px 16px;
        height: 64px;
      }
      .logo {
        display: block;
        width: 100%;
        height: 100%;
        img {
          @include object-fit;
        }
      }
    }
    .h6 {
      display: block;
      margin-top: 8px;
      text-align: center;
      color: $co-gray-7;
    }
  }
  &.sponsor {
    margin-top: 80px;
    .type_list {
      position: relative;
      background-color: $co-gray-1;
      padding-top: 40px;
      margin-top: 64px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background-color: $co-gray-1;
        transform: translateX(-50%);
        z-index: 1;
      }
      .favorite__item {
        margin-bottom: 56px;
        margin-top: 4px;
      }
      .thumb {
        border: none;
        .logo {
          img {
            filter: grayscale(100%);
          }
        }
      }
    }
    .type_name {
      .favorite__item {
        margin-top: 56px;
      }
      .tit {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: $co-gray-5;
      }
    }
  }
}

// request
.request {
  .information {
    & + .request__form {
      margin-top: 64px;
    }
  }
  &__form {
    margin: 0 auto 0;
    max-width: 568px;
    .request_name,
    .request_email {
      max-width: 360px;
      @media #{$media-sm} {
        max-width: 100%;
      }
    }
    .request_policy {
      @extend .placehoder-16;
      margin-top: 4px;
      margin-left: 40px;
      padding: 8px 16px;
      border: 1px solid $co-gray-3;
      height: 130px;
      overflow-y: auto;
    }
  }
}

// faq
.faq {
  margin-top: 32px;
  .information {
    margin-top: 48px;
  }
}

// board
.board {
  &__search {
    position: relative;
    margin-top: 32px;
    text-align: center;
  }
}

// searchresult
.searchresult {
  &__title {
    @extend .h5_left;
    color: $co-gray-7;
    padding: 0 32px 16px;
    @media #{$media-sm} {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__more {
    text-align: center;
    .txt {
      font-size: 18px;
      margin-bottom: 0;
      padding-bottom: 32px;
      border-bottom: 1px solid $co-gray-2;
    }
  }
}

// notfound
.notfound {
  margin-top: 80px;
  @media #{$media-sm} {
    margin-top: 40px;
  }
  &__figure {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  &__title {
    @extend .h2;
    margin-top: 40px;
    text-align: center;
    color: $co-gray-7;
  }
  &__desc {
    @extend .checkbox-16;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
    color: $co-gray-7;
    word-break: keep-all;
  }
  &__btn {
    margin-top: 40px;
    text-align: center;
  }
}
